
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 920px;
  margin: 0 auto;
}

.used > div {
  margin: 1.5rem;
}

.used > div > p {
  padding: 1rem 0;
}

.used > div > div {
  padding: 1rem 0;
}